/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 // @import "bulma";
 // @import "bulma/sass/utilities/_all.sass";
 // @import "bulma/sass/grid/columns.sass";
 
 * {
     // set all fonts to be the same 
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
    }

    // remove the top margin from HTML so the navbar touches the top of the screen 
    body {
        margin-top: 0px;
    }

.navbar-nav{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black; 
    border-radius: 10px;

    // center text 
    text-align: center;
    background: #bbcfff80;
    width: 25%;
    margin: auto;
}

.image_show {    
    // background-color: #f0efef80;
    background: rgb(240,239,239);
    background: linear-gradient(0deg, rgba(240,239,239,1) 0%, rgba(171,126,126,.25) 50%, rgba(240,239,239,1) 100%);
}

// center the displayed image 
.show_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image_info {
    text-align: center;
    --left-right-margin: 200px;
    width: 30%;
    margin: auto; 
    // margin-left: var(--left-right-margin); 
    // margin-right: var(--left-right-margin);
    margin-bottom: 50px;
    border-left: 2px solid black; 
    border-right: 2px solid black; 
    border-radius: 10px;
}

.metro_link{
    font-size: .8rem;
}

.comment {
    border: 2px solid black; 
    border-radius: 10px; 
    margin: 10px;
    padding: 10px;
    background-color: #faafff40;
}

.comment_text {
    padding-left: 10px;
    overflow-wrap: break-word;
}

.comment_section {
    // background: #f0efef;
}



// image index
.image_index {
    display: flex; 
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: auto; 
}

.image_in_index{
    border: 2px solid black; 
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    margin: 10px; 
    width: 220px;
    height: 350px; 

}

.image_in_index img{
    display: block;

    // crop image to square 
    width: 200px;
    height: 200px;
    object-fit: cover;

    // center image 
    margin: auto;
}

// date 
.image_in_index p:first-child{
    background-color:#faafff;
    margin: 10px 0px 10px 0px; 
    padding-left: 5px;
}

// title, artist 
.image_in_index p:nth-child(3){
    background: rgb(187,207,240);
    height: 25%;
    padding: 0px 5px 0px 5px;
}
// user show
