/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 // @import "bulma";
 // @import "bulma/sass/utilities/_all.sass";
 // @import "bulma/sass/grid/columns.sass";
 
 * {
     // set all fonts to be the same 
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
    }

    // remove the top margin from HTML so the navbar touches the top of the screen 
body {
    margin-top: 0px;
}

input {
    border: 1px solid black;
    border-radius: 10px;
    width: 180px;
    background-color: #bbcfff;
}

input:hover{
    background-color: #bbcfff80;
}
.navbar-nav{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 3px solid black; 
    border-top: 1px solid black;
    border-radius: 10px;
    
    background: #bbcfff80;
    width: 25%;
    display: flex; 
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 10px; 
    padding-right: 10px;

}


// welcome text on image index page
.welcome_text{
    border-left: 2px solid black; 
    border-right: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto 0px auto
}
.welcome_text h1{ 
    // margin: auto;
    margin: 0px auto 0px auto; 
    text-align: center;
    font-size: 9rem;
    text-transform: uppercase;
}

.welcome_text :nth-child(1){
    --fade_in_time: 2.5s;
    animation: fadeIn ease var(fade_in_time);
    -webkit-animation: fadeIn ease var(--fade_in_time);
    -moz-animation: fadeIn ease var(--fade_in_time);
    -o-animation: fadeIn ease var(--fade_in_time);
    -ms-animation: fadeIn ease var(--fade_in_time);

    @keyframes fadeIn{
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
}

.welcome_text :nth-child(2){
    --fade_in_time: 3.5s;
    animation: fadeIn ease var(fade_in_time);
    -webkit-animation: fadeIn ease var(--fade_in_time);
    -moz-animation: fadeIn ease var(--fade_in_time);
    -o-animation: fadeIn ease var(--fade_in_time);
    -ms-animation: fadeIn ease var(--fade_in_time);

    @keyframes fadeIn{
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
}

.welcome_text :nth-child(3){
    // 'select an image below...' div 
    text-align: center;
    --fade_in_time: 3.5s;
    animation: fadeIn ease var(fade_in_time);
    -webkit-animation: fadeIn ease var(--fade_in_time);
    -moz-animation: fadeIn ease var(--fade_in_time);
    -o-animation: fadeIn ease var(--fade_in_time);
    -ms-animation: fadeIn ease var(--fade_in_time);

    @keyframes fadeIn{
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
}


.image_show {    

}

// center the displayed image 
.show_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
    height: 95vh;
    // fade in:
    // this seems super extra...  
    --fade_in_time: .3s;
    animation: fadeIn ease var(fade_in_time);
    -webkit-animation: fadeIn ease var(--fade_in_time);
    -moz-animation: fadeIn ease var(--fade_in_time);
    -o-animation: fadeIn ease var(--fade_in_time);
    -ms-animation: fadeIn ease var(--fade_in_time);

    @keyframes fadeIn{
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
    
    @-webkit-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
    
    @-o-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
    }
    
    @-ms-keyframes fadeIn {
        0% {
        opacity:0;
        }
        100% {
        opacity:1;
        }
      }
}


.image_info {
    text-align: center;
    --left-right-margin: 200px;
    width: 30%;
    margin: auto; 
    // margin-left: var(--left-right-margin); 
    // margin-right: var(--left-right-margin);
    margin-bottom: 50px;
    border-left: 2px solid black; 
    border-right: 2px solid black; 
    border-radius: 10px;
}

.metro_link{
    font-size: .8rem;
    margin-bottom: 10px;
}

.comment {
    border: 2px solid black; 
    border-radius: 10px; 
    margin: auto; 
    margin-bottom: 10px;
    padding: 10px;
    background-color: #faafff40;
    width: 50%; 
    justify-content: center;
}

.comment_text {
    padding-left: 10px;
    overflow-wrap: break-word;
}

.comment_section {
    // background: #f0efef;
}

.comment_section h2{
    justify-content: center;
    margin: 10px auto 5px auto;
    width: 50%; 
}



// image index
.image_index {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%; 
    margin: auto; 
}

.image_in_index{
    padding: 5px 0px 5px 0px;
    margin: 10px; 
    width: 220px;
    height: 350px; 

    --hover-color: black;
    border-left: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
    border-bottom: 3px solid var(--hover-color);
    border-top: 3px solid var(--hover-color);
    border-radius: 10px;
    font-size: .9rem;
}

// title and artist 
.image_in_index :nth-child(3){
}

// different color for hovered image preview box 
.image_in_index:hover{
    --hover-color: black;
    border-left: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
    border-bottom: 5px solid var(--hover-color); 
    border-top: 1px solid var(--hover-color);
    border-radius: 10px;
}

.image_in_index img{
    display: block;

    // crop image to square 
    width: 200px;
    height: 200px;
    object-fit: cover;

    // center image 
    margin: auto;
}

// date 
.image_in_index p:first-child{
    background-color:#faafff;
    margin: 10px 0px 10px 0px; 
    padding-left: 5px;
}

// title, artist 
.image_in_index p:nth-child(3){
    background: rgb(187,207,240);
    height: 22%;
    padding: 0px 5px 0px 5px;
}
// user show
.user_info {
    background-color: #bbcfff;
    padding: 5px 10px 10px 10px;
    margin: auto;
    border-radius: 10px;
    display: flex; 
    flex-flow: row; 
    width: 70%; 
    justify-content: center;
}

.user_info h1{
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0px;
    margin-right: 20px;
    overflow-wrap: break-word; 
}

.col_1{
    // width:50%;
}
// user about me section 
.col_2 {
    margin: 10px;
    overflow-wrap: break-word;  
    // width:50%;  
}

// user comments and favorites dual column layout 
.user_show{
    display: flex; 
    flex-direction: row;
}

.user_show_favorites .img{
    height: 100px;
}

.user_show_comments {
    margin: auto; 
    justify-content: center;
}

.user_show_comments img{ 
    display: block;

    // crop image to square 
    --image_size: 10vh;
    width: var(--image_size);
    height: var(--image_size);
    object-fit: cover;
}

.write_comment {
    justify-content: center;
    margin: auto;
    width: 50%; 
}

.write_comment textarea{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

a {
    color: #4f84ff;
    text-decoration: none;
}

.about {
    width: 75%; 
    margin: auto;    
}


.field textarea {
    height: 2rem;
}

.sign_up, .login {
    display: flex; 
    flex-flow: column;   
    margin: 10px auto 10px auto; 
    // width: 70%; 
    // justify-content: center;
    align-items: center;
    width: 100%;
}

.sign_up input, .login input{
    height: 2rem;
    font-size: 1rem;
    width: 100%;
    padding: 5px;   
    padding-left: 10px;
    margin: 2px 0px 2px 0px;
}

.sign_up.actions {
    width: 200%;
}

#user_remember_me{ 
    width:25%;
}

#user_biography{
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 3rem;
    padding: 5px; 
    padding-left: 10px;
}