<div class="about">
    <h1>About</h1>
    <p>Hi, and thank you for visiting my site!</p>
    <p>My name is Tyler Greason. I developed this site for my second project during my time at Flatiron School. This site is meant to exemplify my understanding of Ruby on Rails, the Model/View/Controller design pattern, routing, and building and styling a website.</p>
    <p>Art Forum was conceived with the purpose of connecting people who want to talk about art, and showing people art they might not otherwise have access to or know they want to see. I was thinking of the person in the middle-of-nowhere USA who may not have the chance to visit a world renown museum to see famous art, or who wouldn't know they love ancient artwork from China's Qin Dynasty era until it was shown to them.</p>
    <p>The site is not quite finished, but it is in a state I'm very happy with. It looks good, functions properly, and is a pleasure to use.</p>
    <p>If you have any questions, reach out to the creator at tyler . greason at protonmail dot com, or find me using the links below: </p>
    <ul>
        <li><a href="https://github.com/tylergreason">Github</a></li>
        <li><a href="https://twitter.com/GreasonTyler">Twitter</a></li>
</ul>
</div>